<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"> 
<title>about page</title>
</head>

<body>
{{> header}} 

<p>help page that help you in your life</p>

<h1>{{toUpperCase welcome}}</h1>

<h5>{{pageTitle}}</h5>

{{> footer}}

</body>

</html>